<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>486748213190-98hd27gautri3uh9sk5fpqk6973j2rc2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486748213190-98hd27gautri3uh9sk5fpqk6973j2rc2</string>
	<key>API_KEY</key>
	<string>AIzaSyCgqxAAGnPXiUT0X7W9j9vf98gbYgbPl3o</string>
	<key>GCM_SENDER_ID</key>
	<string>486748213190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pungdong.pungdong</string>
	<key>PROJECT_ID</key>
	<string>pungdong-21df5</string>
	<key>STORAGE_BUCKET</key>
	<string>pungdong-21df5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486748213190:ios:81bd65175f23ee1e19ecc7</string>
</dict>
</plist>